* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}
html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(219, 216, 216);
}
img {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-instagram {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.instagram-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;
  align-items: center;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  margin: 0.65em 0;
  text-align: center;
  font-size: 10px;
}

.logo-insta {
  margin: 0.65em 0;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.65px solid #acacaf;
  padding-bottom: 0.65em;
  margin-bottom: 0.65em;
}

.input-login {
  width: 100%;
  margin: 0 40px 10px;
  padding: 0.65em 0.2em;
  border-radius: 3px;
  border: 1px solid rgb(216, 213, 213);
  background-color: rgb(247, 243, 243);
  font-size: 11px;
  color: #616462;
}

.input-btn {
  width: 100%;
  padding: 8px 9px;
  font-weight: 600;
  color: #fff;
  background-color: rgba(1, 149, 246, 0.3);
  border: none;
  border-radius: 3px;
  margin: 0.55em 0 1em 0;
}

.login-facebook {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-facebook {
  width: 16px;
  margin: 0.65em 0;
}

.login-facebook {
  color: #385185;
  font-size: 11px;
  margin: 0.35em;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url("/templateInstagram/assets/img/apple-button.png");
}

.app-download:nth-child(2) {
  background-image: url("/templateInstagram/assets/img/appgoogle.png");
}
